/*Colour scheme: #B6C2ED #8E9AAF #EFD3D7 #FEEAFA #F1E3E4*/
/* Headers and main body CSS */
body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #F1E3E4;
	color: #545454;

}

#content-area {
	margin: auto;
	width: 980px;
	background-color: white;
	padding: 10px;
}

.navbar-default {
	background: #F1E3E4;
}

.iconhead {
	display: inline-block;
}

#hand {
	float: left;
}

header {
	font-family: 'Permanent Marker', cursive;
	text-align: left;
	font-size: 72px;
	margin: 0 0 0 30px;
	color: black;
	float: right;
}


h2 {
	font-family: 'Permanent Marker', cursive;
	font-size: 36px;
}

/* Navbar CSS */
li .nav_item {
	display: inline;
}

ul {
  list-style-type: none;
  padding: 11px;
}

.nav-pills > li.nav-item > a {
	color: black;
	font-weight: bold;
	font-size: 18px;
	background-color: rgba(0,0,0,0);
	margin: 20px 5px 0 5px;
	padding: 10px 30px 10px 30px;
}

.nav-pills > li.nav-item > a:hover {
	color: #FEFCFD;
	background-color: #000000;
}

/* Main content CSS */
button {
	background-color: rgba(0,0,0,0);
<<<<<<< HEAD
	font: 1.0em 'roboto condensed';
	border-radius:50px;
	outline: none;
=======
>>>>>>> origin/master
}

#mid {
   padding: 70px;
   background: #EFD3D7;
   overflow: hidden;
}

#mid p {
	font-size: 16px;
}

.facepic {
	max-width: 300px; 
	max-height: 300px;
	border-radius: 50%;
}

article {
	background: #B6C2ED;
	border: 3px solid #8E9AAF;
	border-radius: 20px;
	padding: 10px;
	color: white;
}

.poem {
	display: none;
}

.event {
	margin: 20px;
	max-width: 330px;
	border-radius: 20px;
	padding: 7px;
	color: #000000;
	display: inline-block;
	font-size: 28px;
	position: relative;
}

.details > p {
	font-size: 24px;
}

.event img {
	opacity: 1;
	width: 270px;
	height: 270px;
	border-radius: 20px;
}

.details {
	display: none;
	text-align: left;
<<<<<<< HEAD
	position: absolute;
	top: 15px;
	left: 15px;
	max-width: 100%;
	padding: 5px;
=======
<<<<<<< HEAD
>>>>>>> origin/master
}

/* Footer CSS */
#footer {
	background: #F1E3E4;
	font-weight: bold;
	padding:20px 30px 30px 30px;
}

=======
}

/* Footer CSS */
#footer {
	background: #F1E3E4;
	font-weight: bold;
	padding:20px 30px 30px 30px;
}

>>>>>>> origin/master
#footer .links {
	line-height: 35px;
	font-size: 16px;
}

#footer a {
	color: #545454;
<<<<<<< HEAD
}

.video-container {
  background: #e3e3e3;
  margin-bottom: 20px;
  padding-bottom: 50px;
  margin:150px;
}

.inspo {
	margin:120px 0px 150px 0px;
=======
>>>>>>> origin/master
}


/* Carousel CSS */
.carousel-item img {
	width: 200px;
	height: 280px;
}

.slick-center .carousel-item{
	color: #FFF;
}
.slider{
	width: 100px;  
	height:150px;
	margin: 10px auto;    
	text-align: center;
}

.slider div{
	margin-right: 5px;
}
.slick-slide{
	opacity: .6;
}
.slick-center{
	display: block;
	max-width: 10%;
	max-height:20%;
	opacity: 1;
}



