/*Colour scheme: #B6C2ED #8E9AAF #EFD3D7 #FEEAFA #F1E3E4*/

/*New Colour Scheme: #d8e5f3 (lighter blue); #95aeca (darker blue); #2a322a (dark green); white

/** New New Colour Scheme: 
lightest blue - #e9fcfc/rgba(233,252,252,1)
mid blue - #c0ebf4/rgba(192,235,244,1)
lighter pink - #f7e9eb/rgba(247,233,235,1)
darker pink - fda7cf/rgba(253,167,207,1)


/* Headers and main body CSS */
body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: rgba(233,252,252,0.5);
	color: #545454;
}

#content-area {
	margin: auto;
	width: 980px;
	background-color: white;
	padding: 10px;
}

.navbar-default {
	background: rgba(233,252,252,0.5);

}

.iconhead {
	display: inline-block;
}

#hand {
	float: left;
}

header {
	font-family: 'Permanent Marker', cursive;
	text-align: left;
	font-size: 72px;
	margin: 0 0 0 30px;
	color: black;
	float: right;
}

h2 {
	font-family: 'Permanent Marker', cursive;
	font-size: 36px;
	color: black;
}

p {
	margin: 0;
	font-size: 16px;
	color: black;
}

h4 {
	color:black;
	background: #f7e9eb;
	padding: 10px;
	border-radius: 20px;
}

/* Navbar CSS */
li .nav_item {
	display: inline;
}

ul {
  list-style-type: none;
  padding: 11px;
}

.nav-pills > li.nav-item > a {
	color:black;
	font-weight: bold;
	font-size: 18px;
	background-color: rgba(0,0,0,0);
	margin: 20px 5px 0 5px;
	padding: 10px 30px 10px 30px;
}

.nav-pills > li.nav-item > a:hover {
	color: #FEFCFD;
	background-color: #000000;
}

/* Main content CSS */
button {
	background-color: rgba(253,167,207,0.75);
	font: 1.0em 'roboto condensed';
	border-radius:50px;
	border-width: 0;
	outline: none;
	color:black;
}


#mid {
   padding: 25px;
   background: rgba(192,235,244,0.75);
   overflow: hidden;
}

#mid p {
	font-size: 16px;
}

a {
	color: black;
}

.facepic {
	max-width: 300px; 
	max-height: 300px;
	border-radius: 50%;
}

article {
	background: rgba(247,233,235, 0.80);
	border-radius: 20px;
	padding: 10px;
	color: black;
}

.article-title {
	background: rgba(247,233,235, 1);
	border-radius: 20px;
	padding: 30px;
	color: black;
}

.poem {
	display: none;
}

.event {
	margin: 20px;
	max-width: 330px;
	border-radius: 20px;
	padding: 7px;
	color: #000000;
	display: inline-block;
	font-size: 28px;
	position: relative;
}

.details > p {
	font-size: 24px;
}

.event img {
	opacity: 1;
	width: 270px;
	height: 270px;
	border-radius: 20px;
}

.details {
	display: none;
	text-align: left;
	position: absolute;
	top: 15px;
	left: 15px;
	max-width: 100%;
	padding: 5px;
}

/*Issue Pictures*/

#wrapper {
      border-radius: 20px;
      float: right;
      width: 350px;
      height: 400px;
      margin-right: 120px;
    }

@media (max-width: 865px) {
	#wrapper {
		display: none;
	}
}

.row {
	height:400px;
}

/*Inspiration Page*/
.video-container {
	padding:50px;
}

.inspo {
	display: inline-block;
	height: 440px;
	overflow: hidden;
}

h3 {
	font-size:26px;
	line-height: 50px;
}

@media (max-width: 865px) {
	.inspo {
		display: none;
	}
}
/* Footer CSS */

#footer{
	background: rgba(233,252,252,0.5);
	font-weight: bold;
	padding:0px 30px 30px 30px;
}

#footer a {
	color: #545454;
}

.fa {
	word-spacing: 30px;
}

.lineheight {
	line-height: 35px;
	font-size: 16px;
}

/* Carousel CSS */
.carousel-item img {
	width: 200px;
	height: 280px;
}

.slick-center .carousel-item{
	color: #FFF;
}
.slider{
	width: 100px;  
	height:150px;
	margin: 10px auto;    
	text-align: center;
}

.slider div{
	margin-right: 5px;
}
.slick-slide{
	opacity: .6;
}
.slick-center{
	display: block;
	max-width: 10%;
	max-height:20%;
	opacity: 1;
}


